<div class="ui middle aligned center aligned grid" ng-controller="loginController" style="margin-top: 5em;">
    <div class="column">
        <h2 class="ui red image header">
            <img src="img/favicon.png" class="image">
            <div class="content">
                Recover your password
            </div>
        </h2>
        <form class="ui large form" ng-submit="logIn()">
            <div class="ui stacked segment">
                <div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="email" name="emailAddress" placeholder="Recovery e-mail address"
                                ng-model="emailAddress">
                        </div>
                    </div>
                    <div class="ui fluid large red submit button" ng-click="sendRecoveryRequest()"
                        style="margin-top: 1em;" ng-class="{'loading': loading, 'disabled': loading}">SEND RECOVERY
                        TOKEN
                    </div>
                </div>
            </div>
        </form>
        <div class="ui message">
            <a href="#!login">Go back to login</a>
        </div>
    </div>
</div>